In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

#### Import BeutifulSoup

In [3]:
from bs4 import BeautifulSoup

#### Import requests - to get the webpage

In [4]:
import requests

#### Assigns the webpage to a variable

In [134]:
source = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text

#### Parse the page

In [135]:
soup = BeautifulSoup(source, 'lxml')

#### find the fisrt line of the table and print

In [136]:
row = soup.find('tr')

In [137]:
print(row.prettify())

<tr>
 <th>
  Postcode
 </th>
 <th>
  Borough
 </th>
 <th>
  Neighbourhood
 </th>
</tr>

#### explore the format of the text and create a list

In [138]:
row.text

'\nPostcode\nBorough\nNeighbourhood\n'

In [142]:
list1 = []

In [140]:
list1.append(row.text.split('\n')[1:-1])

In [141]:
list1

[['Postcode', 'Borough', 'Neighbourhood']]

In [213]:
list1 = []  ### resets the list

#### get all rows of the table and assigns to the list. then seperate the headers and remove the rows from the bottom of the table which are empty.

In [143]:
for line in soup.find_all('tr'):
    list1.append(line.text.split('\n')[1:-1])

In [144]:
headers = list1[0]

In [145]:
headers

['Postcode', 'Borough', 'Neighbourhood']

#### Crate the data frame

In [156]:
df = pd.DataFrame(list1[1:-5], columns=headers)

In [157]:
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [158]:
df.shape

(288, 3)

#### Wrangle the data frame

In [159]:
df = df[df['Borough'] != 'Not assigned']

In [160]:
df.shape

(211, 3)

In [161]:
df[df['Neighbourhood'] == 'Not assigned']

  Postcode       Borough Neighbourhood
8      M7A  Queen's Park  Not assigned

In [162]:
df.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

In [163]:
df.replace('Not assigned', "Queen's Park", inplace=True)

In [164]:
df.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

In [165]:
df.reset_index(inplace=True, drop=True)

In [167]:
df.head()

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights

#### Group similar postcodes together

In [209]:
df_clean = df.groupby(['Postcode', 'Borough'])['Neighbourhood'].apply(', '.join).to_frame().reset_index()

#### Size of the data frame

In [212]:
df_clean.shape

(103, 3)

In [217]:
df_clean.head(30)

   Postcode      Borough                                      Neighbourhood
0       M1B  Scarborough                                     Rouge, Malvern
1       M1C  Scarborough             Highland Creek, Rouge Hill, Port Union
2       M1E  Scarborough                  Guildwood, Morningside, West Hill
3       M1G  Scarborough                                             Woburn
4       M1H  Scarborough                                          Cedarbrae
5       M1J  Scarborough                                Scarborough Village
6       M1K  Scarborough        East Birchmount Park, Ionview, Kennedy Park
7       M1L  Scarborough                    Clairlea, Golden Mile, Oakridge
8       M1M  Scarborough    Cliffcrest, Cliffside, Scarborough Village West
9       M1N  Scarborough                        Birch Cliff, Cliffside West
10      M1P  Scarborough  Dorset Park, Scarborough Town Centre, Wexford ...
11      M1R  Scarborough                                  Maryvale, Wexford
12      M1S  Scarborough                                          Agincourt
13      M1T  Scarborough            Clarks Corners, Sullivan, Tam O'Shanter
14      M1V  Scarborough  Agincourt North, L'Amoreaux East, Milliken, St...
15      M1W  Scarborough                                    L'Amoreaux West
16      M1X  Scarborough                                        Upper Rouge
17      M2H   North York                                  Hillcrest Village
18      M2J   North York                       Fairview, Henry Farm, Oriole
19      M2K   North York                                    Bayview Village
20      M2L   North York                           Silver Hills, York Mills
21      M2M   North York                            Newtonbrook, Willowdale
22      M2N   North York                                   Willowdale South
23      M2P   North York                                    York Mills West
24      M2R   North York                                    Willowdale West
25      M3A   North York                                          Parkwoods
26      M3B   North York                                    Don Mills North
27      M3C   North York                   Flemingdon Park, Don Mills South
28      M3H   North York    Bathurst Manor, Downsview North, Wilson Heights
29      M3J   North York                    Northwood Park, York University

In [218]:
df_clean.to_csv('Toronto Neighbourds.csv')